<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <style th:replace="/adminDash/styleDashboardAdmin/style" ></style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper" >
    <div th:replace="/adminDash/styleDashboardAdmin/header"></div>
    <div th:replace="/adminDash/styleDashboardAdmin/leftSide"></div>
    <div class="content-wrapper">
        <div th:fragment="content" ></div>
    </div>
    <div th:replace="/adminDash/styleDashboardAdmin/footer"></div>
    <div th:replace="/adminDash/styleDashboardAdmin/script"></div>
    <div th:fragment="script" ></div>
</div>

</body>
</html>