<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="sidebar">

  <!-- Box icon CSS   -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <!-- End -->

  <div class="sidebar close">
    <div class="logo-details">
      <h6>C2ouf</h6>
      <span class="logo_name">Menu</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-home'></i>
          <span class="link_name">Home</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Home</a></li>
        </ul>
      </li>
      <li>
        <div class="icon-link">
          <a href="#">

            <i class="fa fa-th-large" aria-hidden="true"></i>
            <span class="link_name">Catalogue</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">

          <li><a class="link_name" th:href = "@{/oauth/Admin_Products}">Catalogue</a></li>
          <li><a href="#">Produits</a></li>
          <li><a href="#">Categories</a></li>

        </ul>
      </li>
      <li>
        <div class="icon-link">
          <a href="#">
            <i class='bx bx-news'></i>
            <span class="link_name">Posts</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Posts</a></li>
          <li><a href="#">Recent</a></li>
          <li><a href="#">Trending</a></li>
          <li><a href="#">Most Visited</a></li>
        </ul>
      </li>
      <li>
        <div class="icon-link">
          <a href="#">
            <i class='bx bx-file-find'></i>
            <span class="link_name">Insights</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Insights</a></li>
          <li><a href="#">Money Movement</a></li>
          <li><a href="#">Enterprise Spotlight</a></li>
          <li><a href="#">Financial Burnout</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-credit-card' ></i>
          <span class="link_name">Pricing</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Pricing</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-bar-chart'></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-compass'></i>
          <span class="link_name">Explore</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Explore</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
      <li>
        <div class="profile-details">
          <div class="profile-content">
            <img src="https://github.com/Sacsam005/dropdown-menu/blob/master/image/profile.png?raw=true" alt="profileImg">
          </div>
          <div class="name-job">
            <div class="profile_name">John Doe</div>
            <div class="job">Crypto Expert</div>
          </div>
          <i class='bx bx-log-out'></i>
        </div>
      </li>
    </ul>
  </div>
</div>

</body>
</html>